.square {
    border: 1px solid #828080;
    outline: 1px solid #828080;
    font-family: 'Gamja Flower', cursive;
    width: 70px;
    height: 70px;
    cursor: pointer;
    line-height: 70px;
    font-size: 38px;
    color: #837272;
}

